@using ToDoListV2;

@page "/"
@rendermode InteractiveServer
<PageTitle>TodoListV2</PageTitle>

<h1>TodoListV2</h1>

<div>
    <input type="text" placeholder="Enter item name" @bind="taskName"/>
    <button @onclick="AddTask" >Add Task</button>
</div>


<p> List of Tasks:</p>
<ul>
    <li>
        @taskToDo
    </li>

</ul>


@code
{
    public TaskList toDoList = new TaskList();
    private string taskName;
    private TaskToDo taskToDo;

    private void AddTask()
    {
        taskToDo = new TaskToDo(taskName, DateTime.Now);
        toDoList.AddTask(taskToDo);
        taskName = string.Empty; // Clear the input field after adding the task
    }

}